flask
chroma
flask_cors
pandas
numpy
langchain
chromadb
transformers
torch
scipy
sentence-transformers
pydub
ffmpeg-python
librosa
openai
tiktoken
faiss-cpu
unidecode
python-dotenv
scikit-learn
google-generativeai
pytube
pillow
flask-sqlalchemy
pypika
flask-restful
pydantic
requests
protobuf
pydantic-core
tqdm
typing-extensions
flask-migrate
flask-jwt-extended
flask-marshmallow
marshmallow-sqlalchemy
flask-script
werkzeug
flask-login
flask-wtf
wtforms
